<!--<md-card class="example-card">
  <md-card-header>
    <div md-card-avatar class="example-header-image"></div>
    <md-card-title>Shiba Inu</md-card-title>
    <md-card-subtitle>Dog Breed</md-card-subtitle>
  </md-card-header>
  
  <md-card-content>
    <div> {{ (user | async)?.uid }} </div>
    <button (click)="login()">Login</button>
    <button (click)="logout()">Logout</button>
  </md-card-content>
  <md-card-actions>
    <button md-button>LIKE</button>
    <button md-button>SHARE</button>
  </md-card-actions>
</md-card>-->

<md-toolbar>
    <span>Team Work Control de Recursos</span>
    <span class="spacer"></span>
    <button md-icon-button [mdMenuTriggerFor]="menu">
      <md-icon>more_vert</md-icon>
    </button>
    <md-menu #menu="mdMenu">
      <button md-menu-item>
        <md-icon>fingerprint</md-icon>
        <span>Login</span>
      </button>
      <button md-menu-item routerLink="/dashboard" routerLinkActive="active">
        <md-icon>view_headline</md-icon>
        <span>Inicio</span>
      </button>
      <button md-menu-item routerLink="/person" routerLinkActive="active">
        <md-icon>accessibility</md-icon>
        <span>Adicionar Persona</span>
      </button>
      <button md-menu-item routerLink="/resource" routerLinkActive="active">
        <md-icon>album</md-icon>
        <span>Adicionar Recurso</span>
      </button>      
    </md-menu>
</md-toolbar>

<router-outlet></router-outlet>
