<md-tab-group>
  <md-tab label="Personas">
    <md-list>
      <md-card class="example-card" *ngFor="let person of persons">
        <md-card-header>
          <md-card-title>{{ person.firstName }}</md-card-title>
        </md-card-header>
        <img md-card-image src="assets/img/empty-user.png">
        <md-card-content>
          <div *ngFor="let assignment of person.assignments">
            <div *ngFor="let resource of assignment.resources" style="display: flex; justify-content: space-between">
              <div style="flex: 3">{{ resource.name }}</div> 
              <div style="flex: 1">{{ assignment.endDate | date: 'dd/MM' }}</div>
              <button style="flex: 1" md-button (click)="openDialogUnAssign(assignment.$key)"><i class="material-icons">done</i></button>
            </div>
          </div>
          <p>
            {{ person.note }}
          </p>
        </md-card-content>
        <md-card-actions>
          <button md-button (click)="openDialog(person.$key)">Asignar</button>
        </md-card-actions>
      </md-card>      
    </md-list>
  </md-tab>

  <md-tab label="Recursos">
    <md-list>
      <md-card class="example-card" *ngFor="let resource of resources">
        <md-card-header>
          <div md-card-avatar></div>
          <md-card-title>{{ resource.name }}</md-card-title>
          <md-card-subtitle>{{ resource.author }}</md-card-subtitle>
        </md-card-header>
        <img md-card-image src="assets/img/empty-cd2.jpeg">
        <md-card-content>
          <p>
            {{ resource.description }}
          </p>
        </md-card-content>
        <md-card-actions>
          <button md-button>Asignar</button>
        </md-card-actions>
      </md-card>      
    </md-list>
  </md-tab>

  <md-tab label="Asignados">
    <md-list>
      <md-card class="example-card" *ngFor="let assignment of assignments">
        <md-card-header>
          <div md-card-avatar></div>
          <!--<md-card-title>{{ person.name }}</md-card-title>-->
          <md-card-subtitle>Dog Breed</md-card-subtitle>
        </md-card-header>
        <!--<img md-card-image src="assets/img/empty-user.png">-->
        <md-card-content>
          <p>
            The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
            A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
            bred for hunting.
          </p>
        </md-card-content>
        <md-card-actions>
          <button md-button>Remover</button>
        </md-card-actions>
      </md-card>      
    </md-list>
  </md-tab>
</md-tab-group>
